{% extends 'baseFile.html' %}
<html>
<head>

</head>
<body>
{% load static %}
    {% block content %}
        <style>
        h2, h3, h5{
            text-align: center;
            padding: 7px;
        }
        h6{
            padding: 8px;
        }
        </style>
        <h3 style="color: #05386b"><u>Work Experience</u>  </h3>
        <div style="color: #05386b; padding-bottom: 10px; border-bottom: 3px">
            <h2>Reliance Industries Limited</h2>
            <h3>Subsea Panel Engineer(GET)</h3> <h5 style="text-align: center">Period: January'21-Present</h5>
            <h6>Roles and  responsibilities:</h6>
            <ul>
                <li>
                    <p>Monitoring subsea well parameters and overall production trends (DCS
                    & Aspen Info Plus 2.1) and using Production System Simulation. </p>
                </li>
                <li>
                    <p>Trouble shooting deviations and handling emergency situations in accordance
                    with Operating Management System (OMS). </p>
                </li>
                <li>
                    <p>General day to day activities include well startup, shutdown, and preparation
                    of Daily/ Monthly Production Reports. </p>
                </li>
                </ul> <br><hr><br>
            <h2>Cairn Oil and Gas, Vedanta Ltd.</h2>
            <h3>Completions and Work over Intern</h3> <h5 style="text-align: center">Period: May'19-July'19</h5>
            <h6>Roles and  responsibilities:</h6>
            <h6>Done a project named "Time based analysis of various workover rig operations", where I learnt: </h6>
            <ul>
                <li>
                    <p>Used data from daily reports to analyze various rig activities.</p>
                </li>
                <li>
                    <p>Recommended findings from the analysis.</p>
                </li>
                <li>
                    <p>Learnt different kinds of artificial lift systems and their completion schematics.</p>
                </li>
                </ul><br><hr><br>
            <h2>Institute Of Reservoir Studies (ONGC)</h2>
            <h3>Heavy Oil Team intern</h3> <h5 style="text-align: center">Period: December'18</h5>
            <h6>Roles and  responsibilities:</h6>

            <ul>
                <li>
                    <p>Analyzed the criterion for candid selection of the reservoir for CSS, in situ combustion, SAGD.</p>
                </li>
                <li>
                    <p>Got insight on different EOR techniques (thermal, non-thermal).</p>
                </li>
                <li>
                    <p>Reviewed Case study on different CSS wells.</p>
                </li>
                </ul>
        </div>
    {% endblock %}
</body>
</html>